# Godot 4
.godot/
.import/
*.import
export_presets.cfg

# Builds and exports
game/exports/**/build/
game/exports/**/bin/
*.apk
*.aab
*.exe

# Temp and logs
*.log
*.tmp
*.temp

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
